.question-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
 

.question-block .label {
    width: 5%;
    margin-right: 10px;
}

.question-block .question {
    flex-grow: 1;
    width: 40%;
    margin-right: 10px;
}

.question-block .answer {
    width: 40%;
    min-height: 30px;
    border: 1px solid black;
    margin-right: 10px;
}

.question-block .remove-btn {
    background-color: red;
    width: 15%;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}